# Project

In [5]:
import pandas as pd

In [6]:
data_sources = ["https://www.ons.gov.uk/file?uri=/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/probabilityofautomationinengland/2011and2017/automationreferencetables.xls"]

In [15]:
storage_options = {'User-Agent': 'Mozilla/5.0'}
for i in data_sources:
    data_source = pd.read_excel(i, storage_options=storage_options, sheet_name=None)
    #print(data_source.head())

In [31]:
for j in data_source:
    sheet1 = list(data_source.values())[12]
sheet1

,Table 8a(i): Probability of automation by industry (SIC2007 2-digit),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Return to contents
0,Table 8a(ii): Number and proportion of jobs at...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 8a(iii): Proportion of employees in high...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"England, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Percentage probability,NaN,NaN,NaN,NaN,Thousand,NaN,NaN,Percentage,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,"1. ""-"" indicates unweighted counts of <10 whic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2. Cells highlighted red indicate where the as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,"3. Proportions of jobs at low, medium and high...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,4. Proportions of employees in high-skill and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,5. Totals might not add up due to rounding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## References

In [ ]:
# https://stackoverflow.com/questions/62278538/pd-read-csv-produces-httperror-http-error-403-forbidden